<div id="main"></div>
<div class="row">
  <div class="col-xs-12">
      <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index %>">
        Sign in with Twitter
      </a>
  </div>
</div>